*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    outline: none;
}

main section {
    padding: 50px 30px 50px 30px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    border-radius: 40px;
}

main ul {
    list-style: none;
    width: 90%;
    overflow-y: auto;
}








@media (max-width: 1200px) {
    main .formulario {
        width: 90vw;
        height: 600px;
    }

    main .input-container {
        flex-direction: column;
    }

    main .moneda-para-convertir, main .moneda-a-convertir {
        width: 75%;
    }

    #dinero-usuario, #dinero-convertido {
        width: 100%;
    }

    section.lista-cambios {
        width: 90vw;
    }

    section #listado-monedas {
        width: 75%;
    }

}